.new-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  .new-container {
    max-width: 800px;

    .new-box {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
    }

    .wrapper-new {
      background: #fff;
      border-radius: 18px;
      position: absolute;
      top: 430px;
      width: 90%;

      div {
        padding: 0 15px;
      }
    }
  }

  .top-return {
    color: rgb(0 0 0 / 40%);
    margin-top: 40px;

    i {
      padding-right: 5px;
    }

    a {
      color: rgb(0 0 0 / 40%);
      text-transform: uppercase;

      &:link, &:visited, &:active {
        text-decoration: none;
      }
    }
  }

  img {
    margin-top: 20px;
    width: 100%;
  }
}
