<div class="new-wrapper">
  <div class="new-container">
    <div class="top-return">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" >
        <i class="icon-left"></i>
        Todos los eventos
      </a>
    </div>
    <div class="new-box">

      <img [src]="newToShow?.img ? newToShow?.img : './assets/img/wallpaper.jpg'" alt="">
      <div class="wrapper-new">
        <div class="title">
          <h1>{{newToShow?.title}}</h1>
        </div>
        <div class="text">
          <p>{{newToShow?.body}}</p>
        </div>
      </div>
      <div class="button-wrapper">
        <app-button-circle
          class="button"
          [icon] = "'icon-trash-empty'"
          (buttonClicked) = "deleteNew()"
        ></app-button-circle>
        <app-button-circle
          class="button"
          [icon] = "'icon-pencil'"
          (buttonClicked) = "editNew()"
        ></app-button-circle>
      </div>
    </div>
  </div>
</div>

<app-sidebar-slide-out
  *ngIf = "showNewSidebar"
  [actionType] = "'edit-new'"
  [newToEdit] = "newToShow"
  (overlayClicked) = "showSidebarComponent()"
></app-sidebar-slide-out>
