<div class="new-wrapper">
  <div class="new-container">
    <div class="top-return">
      <a [routerLink]="['/']" routerLinkActive="router-link-active" >
        <i class="icon-left"></i>
        Todos los eventos
      </a>
    </div>
    <div class="new-box">

      <img [src]="newToShow?.img ? newToShow?.img : './assets/img/wallpaper.jpg'" alt="">
      <div class="wrapper-new">
        <div class="title">
          <h1>{{newToShow?.title}}</h1>
        </div>
        <div class="text">
          <p>{{newToShow?.body}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
