:host {
  position: fixed;
  top: 50%;
  right: 40px;
}

button {
  border: 2px solid #ec604d;
  background: #f15f41;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  height: 50px;
  outline: none;
  overflow: hidden;
  width: 50px;

  i {
    color: #fff;
    font-size: 21px;
  }
}
