:host {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
}

.sidebar-wrapper {
  background: #fff;
  border-top-left-radius: 3em;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: fixed;
  transition: box-shadow 0.1s linear;
  width: 450px;
  z-index: 20;
}

.overlay {
  left: 0;
  opacity: 1;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,.4);
  height: 100%;
  position: fixed;
  z-index: 10;
}
